root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
ij_continuation_indent_size = 4
ij_any_wrap_long_lines = false
trim_trailing_whitespace = true

[{*.kt,*.kts}]
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# noinspection EditorConfigKeyCorrectness
ktlint_disabled_rules = experimental:annotation
